<app-nav-bar></app-nav-bar>
<body class="background-dark">
    <div class="main-landing-header">
        <div class="fancy-text-div">
            <p class="fancy-text">Education is Elevation</p>
        </div>
        <div class="description-text-div">
            <p class="description-text">Learning Platform provides a way for anyone to learn anything they want. We
                provide
                means for people to learn the way things should be learnt - Interactively</p>
            <p class="description-text">Our unique platform allows users to learn frameworks without the hassle of
                having to set things up. Hence boosting their carers and helping them move up in life. </p>
            <p class="quote-text">"The World is a University and everyone in it is a teacher. So wake up and make sure
                you
                go to school."</p>
        </div>
    </div>
    <div class="about-platform-text-div">
        <h2 class="about-platform-text">
            An Isolated Environment for the best applied learning experience
        </h2>
    </div>
    <div class="frameworks-tex-div row align-middle">
        <div class="col">
            <a href='/frameworks' class="text-decoration-none">
                <p class="django-text">django</p>
            </a>
        </div>
        <div class="col">
            <a href='/frameworks' class="text-decoration-none">
                <p class="flask-text">Flask<p>
            </a>
        </div>
        <div class="col">
            <a href='/frameworks' class="text-decoration-none">
                <p class="express-text">express<p>
            </a>
        </div>
        <div class="col">
            <a href="/frameworks" class="text-decoration-none">
                <p class="cpp-text">C++</p>
            </a>
        </div>
    </div>
</body>